body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Month-Container {
  height: auto;
  width: 600px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(7, 1fr);
  border: 2px solid white;
}

.Day-Container {
  height: auto;
  width: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

svg {
  justify-self: center;
}

.blue {
  color: blue;
}

#users, #utensils, #book-open, #bicycle {
  font-size: 30px;
}

h1 {
  text-align: center;
  width: 600px;
}